
*.cache
*.cache
WindowsForms/.vs/slnx.sqlite
WindowsForms/.vs/VSWorkspaceState.json
WindowsForms/.vs/WindowsForms/FileContentIndex/6d32ef4b-5dfc-482e-8466-05ee4590d243.vsidx
WindowsForms/.vs/WindowsForms/v17/.wsuo
WindowsForms/PictureViewerApp/obj/Debug/net6.0-windows/PictureViewerApp.assets.cache
WindowsForms/PictureViewerApp/obj/Debug/net6.0-windows/PictureViewerApp.GeneratedMSBuildEditorConfig.editorconfig
WindowsForms/PictureViewerApp/obj/PictureViewerApp.csproj.nuget.dgspec.json
WindowsForms/PictureViewerApp/obj/project.assets.json
WindowsForms/PictureViewerApp/obj/project.nuget.cache
WindowsForms/PictureViewerApp/obj/Release/net6.0-windows/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
WindowsForms/PictureViewerApp/obj/Release/net6.0-windows/PictureViewerApp.AssemblyInfo.cs
WindowsForms/PictureViewerApp/obj/Release/net6.0-windows/PictureViewerApp.GeneratedMSBuildEditorConfig.editorconfig
WindowsForms/PictureViewerApp/obj/Release/net6.0-windows/PictureViewerApp.GlobalUsings.g.cs
WindowsForms/WinFormsApp1/obj/Debug/net6.0-windows/WinFormsApp1.assets.cache
WindowsForms/WinFormsApp1/obj/Debug/net6.0-windows/WinFormsApp1.GeneratedMSBuildEditorConfig.editorconfig
WindowsForms/WinFormsApp1/obj/project.assets.json
WindowsForms/WinFormsApp1/obj/project.nuget.cache
WindowsForms/WinFormsApp1/obj/Release/net6.0-windows/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
WindowsForms/WinFormsApp1/obj/Release/net6.0-windows/WinFormsApp1.AssemblyInfo.cs
WindowsForms/WinFormsApp1/obj/Release/net6.0-windows/WinFormsApp1.GeneratedMSBuildEditorConfig.editorconfig
WindowsForms/WinFormsApp1/obj/Release/net6.0-windows/WinFormsApp1.GlobalUsings.g.cs
WindowsForms/WinFormsApp1/obj/WinFormsApp1.csproj.nuget.dgspec.json
WindowsForms/PictureViewerApp/obj/Debug/net6.0-windows/PictureViewerApp.assets.cache
WindowsForms/PictureViewerApp/obj/Debug/net6.0-windows/PictureViewerApp.GeneratedMSBuildEditorConfig.editorconfig
WindowsForms/PictureViewerApp/obj/PictureViewerApp.csproj.nuget.dgspec.json
WindowsForms/PictureViewerApp/obj/project.assets.json
WindowsForms/PictureViewerApp/obj/project.nuget.cache
WindowsForms/WinFormsApp1/obj/Debug/net6.0-windows/WinFormsApp1.assets.cache
WindowsForms/WinFormsApp1/obj/Debug/net6.0-windows/WinFormsApp1.GeneratedMSBuildEditorConfig.editorconfig
WindowsForms/WinFormsApp1/obj/project.assets.json
WindowsForms/WinFormsApp1/obj/project.nuget.cache
WindowsForms/WinFormsApp1/obj/WinFormsApp1.csproj.nuget.dgspec.json
WindowsForms/PictureViewerApp/obj/Debug/net6.0-windows/PictureViewerApp.assets.cache
WindowsForms/PictureViewerApp/obj/Debug/net6.0-windows/PictureViewerApp.GeneratedMSBuildEditorConfig.editorconfig
WindowsForms/PictureViewerApp/obj/PictureViewerApp.csproj.nuget.dgspec.json
WindowsForms/PictureViewerApp/obj/project.assets.json
WindowsForms/PictureViewerApp/obj/project.nuget.cache
WindowsForms/WinFormsApp1/obj/Debug/net6.0-windows/WinFormsApp1.assets.cache
WindowsForms/WinFormsApp1/obj/Debug/net6.0-windows/WinFormsApp1.GeneratedMSBuildEditorConfig.editorconfig
WindowsForms/WinFormsApp1/obj/project.assets.json
WindowsForms/WinFormsApp1/obj/project.nuget.cache
WindowsForms/WinFormsApp1/obj/WinFormsApp1.csproj.nuget.dgspec.json
*.json
/WindowsForms/PictureViewerApp/bin/Debug
/WindowsForms/WinFormsApp1/.vs
/WindowsForms/PictureViewerApp/obj/Debug/net6.0-windows
/WindowsForms/WinFormsApp1/.vs
*.vsidx
