<!-- Views/Error/General.cshtml -->
@{
    ViewBag.Title = "Error";
}

<h2>Something went wrong</h2>
<p>We're sorry, but an unexpected error has occurred.</p>
<p>
    <a href="@Url.Action("Index", "Home")">Go to Home Page</a>
</p>
